DATABASE_URL=postgresql://admin:secret@db:5432/postgresdb
PEXELS_API_KEY=your_pexels_key
NEXT_PUBLIC_BASE_URL=http://localhost:4200

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here